<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="/views/images/WhatsAppImage2024-06-24at7.11.12PM.jpeg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blum || Error</title>
    <link rel="stylesheet" href="/views/styles.css">
  </head>
  <body>
    <section class="container">

      <div class="image-section">
        <div class="image-wrapper">
          <img src="/views/images/mesh-gradient.jpg" alt="">
        </div>

        <div class="content-container">
          <h1 class="section-heading">Conectamos mentes para mejorar la educación <span>Universitaria.</span></h1>
        </div>
      </div>

      <div class="form-section">
        <div class="form-wrapper">
          <div class="logo-container">
            <a href="#" class="logo-container">
              <img src="views/images/logo.jpeg" alt="">
            </a>
          </div>

          <h2>¡Error en los datos ingresados!</h2>
          <p>Intenta nuevamente.</p>
          <button  class="login-btn" onclick="history.back()">Volver</button>



        

      </div>
    </section>
  </body>
</html>